.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
    padding: 2% 0 3%;
    border-bottom: 1px solid black;

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    &__main-title {
        font-size: 4rem;
        width: 50%;
        padding-left: 2%;
    }

    &__projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 50rem;
        margin-bottom: 23rem;
    }

    &__project {
        padding: 2% 5%;
    }

    &__card {
        margin: 20% 0;
        width: 600px;
        height: 350px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        width: 100%;
        border-radius: 20px;

        & img {
            width: 250px;
            position: relative;
            transform: translate(39%, -55%);
            pointer-events: none;
            transition: 0.5s;
            overflow: visible;
        }
        
        &:hover img {
            transform: translate(100%, -50%);
            width: 350px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #d83133;
            clip-path: circle(120px at center);
            transition: 0.5s;
        }

        &:hover:before {
            background: #0065c3;
            clip-path: circle(300px at center);
        }
    }

    &__circle {
        width: 100%;
        height: 100%;
        border-radius: 20px;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: #d83133;
            clip-path: circle(150px at center);
            transition: 0.5s;
        }

        &:hover:before {
            background: #0065c3;
            clip-path: circle(400px at center);
        }
    }

    &__title {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }

    &__desc {
        margin: 0 1rem;
    }

    &__content {
        position: relative;
        padding: 1rem;
        height: 12rem;
        border-radius: 10px;
        width: 25rem;
        opacity: 0;
        transition: 0.2s;
        bottom: -4rem;
        left: -2rem;
        line-height: 2rem;
        background-color: #fff;

        &:hover {
            opacity: 1;
            width: 25rem;
        }    
    }

    &__anchor {
        position: absolute;
        transition: 0.2s;
        left: 85%;
        top: 78%;
        width: 2rem;
        
    }

    &__github {
        position: relative;
        height: 2rem;
        left: -1590%;
        top: 1rem;
        transition: 0.2s;

        z-index: 10;

        &:hover {
            position: relative;
        }
    }
}