$breakpoint-tablet-size: 600px;
$breakpoint-large-tablet-size: 900px;
$breakpoint-desktop-size: 1200px;

$nav-width: 80vw;
$border-radius: 0.4rem;

$dropdown-bezier: cubic-bezier(0.40,0.00,0.20,1.00);
$dropdown-right: 2rem;