@use "../../styles/mixins" as *;

.hero {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    
    @include tablet {
        height: 26rem;
        width: 80%;
    }
    
    @include large-tablet {
        height: 33rem;
        margin: 0 10%;
    }
    
    &__type {
        padding: 8rem 0% 10% 5%;
        font-size: 0.8rem;
        line-height: 3.6rem;
        width: 16rem;
        height: 12rem;
        pointer-events: none;
        z-index: 2;
        
        @include large-phone {
            font-size: 1rem;
            width: 19rem;
        }

        @include tablet {
            font-size: 1.6rem;
            width: 32rem;
        }
        
        @include large-tablet {
            line-height: 5.6rem;
            padding: 10rem 0%;
            width: 50rem;
            font-size: 2.5rem;
        }
    }

    &__bottom {
        display: flex;
        justify-content: flex-end;
    }

    &__logo {
        width: 30px;
        opacity: 0.6;
        padding-left: 1rem;
        transition: 0.8s;
        
        &:hover {
            opacity: 1;
        }
    }
}