.hero {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: 0% 70%;
    
    &__canvas {
        z-index: 1;
        margin-left: -15rem; 
    }

    &__type {
        padding: 15% 12%;
        font-size: 3rem;
        line-height: 5.6rem;
        width: 55rem;
        height: 12rem;
        position: absolute;
        z-index: 2;
    }
}