@use "../../styles/mixins" as *;

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 81rem;
    margin: 2rem 10% 6rem;   
    user-select: none;
    
    @include tablet {
        height: 50rem;
        flex-direction: row;
    }

    @include large-tablet {
        height: 44rem;
    }
    
    &__title {
        @include title-style;
        padding-left: 10%;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 40rem;

        @include large-phone {
            width: 70vw;
            height: 45rem;
        }
        
        @include tablet {
            height: 50rem;
            width: 40vw;
        }
        
        @include large-tablet {
            width: 50vw;
            height: 55rem;
            margin-bottom: 4rem;
        }
    }

    &__canvas {
        display: flex;
        position: relative;
        width: 40rem;
        height: 40rem;
    }

    &__instructions {
        margin: 0 0 1rem 0;
        color: rgb(146, 146, 146);
        line-height: 2rem;
        font-size: 0.9rem;
        text-align: center;
        position: relative;
        cursor: default;

        @include tablet {
            margin: 0;
        }
    }
    
    &__disc {
        color: rgb(146, 146, 146);
        cursor: default;
        display: none;        
        
        @include tablet {
            display: block;
            font-size: 0.9rem;            
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
        
        @include tablet {
            margin-bottom: 0rem;
        }

        @include large-tablet {
            width: 50rem;
        }
    }
    
    &__subtitles {
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15rem;
        padding-bottom: 2rem;
        height: 5rem;
        flex-wrap: wrap;
        
        @include tablet {
            padding-bottom: 0;
            height: 8rem;
            width: 18rem;
            font-size: 1rem;
        }
    }

    &__filter {
        display: flex;
        flex-direction: row;
        padding: 0.6rem 1.1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #000;
        font-weight: 800;

        cursor: pointer;

        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color: rgba(0, 0, 0, 0.192);
        }
    }

    &__icon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 20rem;
        
        @include large-tablet {
            width: 25rem;
        }
    }
    
    &__portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    &__img {
        border-radius: 25%;
        margin: 0.5rem;
        padding: 1rem;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.192);
        }
    }
}