@use "../../styles/mixins" as *;

.skills {
    display: flex;
    height: 100vh;
    margin: 0 10%;
    border-bottom: 1px solid black;
    
    &__title {
        margin: 0 10% -6.5rem;
        padding: 5% 0 0;
        font-size: 4rem;
        width: 50%;
        padding-left: 2%;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
    }

    &__canvas {
        position: relative;
        top: -15rem;
        width: 50rem;
        height: 10rem;
    }

    &__instructions {
        color: rgb(146, 146, 146);
        line-height: 2rem;
        font-size: 0.9rem;
        text-align: center;
        margin-top: -26rem;
        position: relative;
        pointer-events: none;
    }

    &__right {
        margin-top: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    &__subtitles {
        position: absolute;
        top: 173rem;
        font-size: 1.2rem;
        display: flex;
    }

    &__filter {
        display: flex;
        flex-direction: row;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #000;
        font-weight: 800;

    cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color: rgba(0, 0, 0, 0.192);
        }
    }

    &__icon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet {
            width: 25rem;
        }
    }
    
    &__portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    &__img {
        border-radius: 25%;
        margin: 0.5rem;
        padding: 1rem;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.192);
        }
    }
}