@use "../../styles/mixins" as *;

.hobbies {
    border-top: 1px solid rgba(0, 0, 0);
    margin: 0 10% 3rem;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        width: 50%;
        
        @include large-phone {
            font-size: 1.5rem;
        }
        
        @include tablet {
            font-size: 2.5rem;
        }
        
        @include large-tablet {
            font-size: 4rem;
        }
    }
}