@use './styles/typography' as *;

html {
	scroll-behavior: smooth;
}

.app {
	font-family: $font-libre;
  
  	&__scroll-down {
	  Nav {
		  transform: translate3d(0, -100%, 0);
		}
	}
	
	&__scroll-up {
		Nav {
			filter: drop-shadow(0 -8px 20px rgb(170, 170, 170));
		}
	}
}