@use "../../styles/mixins" as *;

.nav {
    width: 80%;
    padding: 0 10%;
    position: fixed;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    transition: all 300ms ease-in-out;
    justify-content: space-between;
    height: 8rem;
    
    @include tablet {
        width: 75%;
        padding: 0 12.45%;
        height: 5rem;
    }

    &__title {
        text-decoration: none;
        color: black;
        font-size: 2.8rem;
        
        @include tablet {
            font-size: 2rem;
        }
    }

    &__right {
        display: flex;

    }

    &__list {
        visibility: collapse;

        @include tablet {
            margin-top: auto;
            margin-right: -5.8rem;
            visibility: visible;
            display: flex;
            list-style: none;
        }

        @include large-tablet {
            margin-right: -7rem;
        }
    }
    
    &__links {
        font-weight: 600;
        
        @include tablet {
            margin-left: 1rem;
        }
        
        a {
            padding: 0.8rem 1.5rem;
            border-radius: 5px;
            color: black;
            text-decoration: none;
        }

        :hover {
            transition: 0.8s;
            background-color: rgba($color: #af0d1a, $alpha: 0.1);
        }
    }

    &__drop {
        height: 4rem;
        display: flex;
        visibility: visible;
    
        @include tablet {
            visibility: collapse;
        }
    }
}